font[face*="Roboto Condensed"] {
  font-family: "Roboto Condensed", sans-serif !important;
}

font[face*="Open Sans"] {
  font-family: "Open Sans", sans-serif !important;
}

font[face*="Roboto Slab"] {
  font-family: "Roboto Slab", serif !important;
}

font[face*="Roboto"] {
  font-family: "Roboto", sans-serif !important;
}

font[face*="Lato"] {
  font-family: "Lato", sans-serif !important;
}

#PAGEID_18075 .WaGadgetFirst .gadgetStyleBody h3[align="center"] font[face*="Roboto Condensed"] {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.02em;
}
